@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "@navikt/ds-css-internal";
@import "@navikt/bidrag-ui-common/styles/index.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 50rem;
  }
  
  
  figcaption {
    background-color: var(--a-gray-200);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  
  .bidrag-forsendelse-ui .navds-checkbox--small .navds-checkbox__icon {
    top: 13px;
  }

  .bidrag-forsendelse-ui .navds-checkbox__icon {
    top: 7px;
  }