tr.dokumentrad {
  border-left: 2px solid var(--a-border-default);
  border-right: 2px solid var(--a-border-default);
}

tr.dokumentrad.last {
  border-bottom: 2px solid var(--a-border-default);
}

tr.journalpostrad.open {
  border-left: 2px solid var(--a-border-default);
  border-right: 2px solid var(--a-border-default);
  border-top: 2px solid var(--a-border-default);
}

/* .dokumentrad {
  background-color: var(--a-surface-subtle);
}

.dokumentrad:hover {
  background-color: var(--a-bg-subtle);
} */

/*:not(.navds-table__row--selected):not(:hover)*/


.bisys-table-container {
  display: block;
  overflow: auto;
  width: 100%;
  height: inherit;
}
.bisys-table-container table {
  width: 1092px;

}


.legg_til_dokument_modal {
  width: 80vw;
  max-width: 1200px;
  height: max-content;
  max-height: 1000px;
  padding: "1rem 2rem";
  overflow: hidden;
}
.legg_til_dokument_modal div[role="tabpanel"] {
  height: 60vh;
}